<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/style.css')}}">
        <link href="{{url_for('static', filename = 'css/bootstrap.css')}}" rel="stylesheet" />
        <link href="{{url_for('static', filename = 'css/sticky-footer.css')}}" rel="stylesheet" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.png') }}">
        <script src={{url_for('static', filename = 'js/Chart.js')}}></script>
        <script src="{{url_for('static', filename = 'js/jquery-3.3.1.js')}}"></script>
        <script src="{{url_for('static', filename = 'js/popper.js')}}"></script>
        <script src="{{url_for('static', filename = 'js/bootstrap.js')}}"></script>
        <script src="{{url_for('static', filename = 'js/preloader.js')}}"></script>
        <title>
            X5 Retail Group
        </title>
    </head>
    <body>

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-white">
                        <a class="navbar-brand" href="{{url_for('main')}}">
                            <img src="/static/img/logo.png" width="33" height="33" class="d-inline-block align-top" alt="">
                            Retail Group[Store DashBoard Test]
                        </a>
                    </nav>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <p align="center"><img src="{{ url_for('static', filename='img/500.jpg') }}"></p>
                </div>
            </div>
        </div>
    </body>
</html>
