<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/style.css')}}">
        <link href="{{url_for('static', filename = 'css/bootstrap.css')}}" rel="stylesheet" />
        <link href="{{url_for('static', filename = 'css/sticky-footer.css')}}" rel="stylesheet" />
        <link href="{{url_for('static', filename = 'css/all.css')}}" rel="stylesheet" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.png') }}">
        <script src={{url_for('static', filename = 'js/moment.min.js')}}></script>
        <script src={{url_for('static', filename = 'js/Chart.js')}}></script>
        <script src="{{url_for('static', filename = 'js/jquery-3.3.1.js')}}"></script>
        <script src="{{url_for('static', filename = 'js/popper.js')}}"></script>
        <script src="{{url_for('static', filename = 'js/bootstrap.js')}}"></script>
        <script src="{{url_for('static', filename = 'js/preloader.js')}}"></script>
        <link href="{{url_for('static', filename = 'css/navbar.css')}}" rel="stylesheet" />
        <script src="{{url_for('static', filename = 'js/navbar.js')}}"></script>
        {% block head %}
        {% endblock %}
        <title>
            {% block title %}
            {% endblock %}
        </title>
    </head>
    <body>
        {% block scripts %}
        {% endblock %}
        <!--<div class="preloader"></div>-->

        <!--Navbar-->
        <div class="navbar navbar-expand-lg navbar-light bg-white" role="navigation">
            <a class="navbar-brand" href="{{url_for('main')}}">
                <img src="/static/img/logo.png" width="33" height="33" class="d-inline-block align-top" alt="">
                Retail Group[Store DashBoard Test]
            </a>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                {% block nav_content %}
                {% endblock %}
                {% if current_user.is_authenticated %}
                <form class="form-inline mr-5 my-2 my-sm-2" method="get">
                    <input class="form-control mr-2" type="search" placeholder="номер магазина" aria-label="Search" name="store"
                                             value="{{ request.args.get('store', '') }}">
                    <button class="btn btn-outline-success " style="font-size: 20px;" type="submit"><i class="fas fa-search fa-lg"></i></button>
                </form>
                <div class="container mr-1 ml-5">
                    <a class="btn btn-outline-success " style="font-size: 20px;" href="{{url_for('user_page', username=current_user.username)}}" role="button"><i class="fas fa-user-tie fa-lg"></i></a>
                    <a class="btn btn-outline-success ml-2" style="font-size: 20px;" href="{{url_for('auth.logout')}}" role="button"><i class="fas fa-sign-out-alt fa-lg"></i></a>
                </div>
                {% endif %}
            </div>
        </div>

        <main role="main" class="container-fluid">
            {% block main %}
            {% endblock %}
        </main>

        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 text-center">
                        <span class="text-muted" >Все предложения по улучшению присылать на Andrey.Gavrilov@x5.ru</span>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
