{% extends 'store_pages.html' %}

{% block title %}
    Store Board {{store.host}}
{% endblock %}

{% block main %}
<div class="container ">
    <div class="row">
        <div class="col-4 bg-light">
            <table class="table">
                <tr>
                    <td>                
                        <div class="d-flex justify-content-between">
                            <span class="dot" style="height: 20px; width: 20px; background-color: green; border-radius: 50%; display;"></span><p class="h2">Qwwert</p>
                        </div>
                    </td>
                </tr>
            </table>

                
                <span class="dot" style="height: 30px; width: 30px; background-color: yellow; border-radius: 50%; display: inline-block;"></span>    Кассы <br>
                <span class="dot" style="height: 30px; width: 30px; background-color: red; border-radius: 50%; display: inline-block;"></span>    Кэш-сервер <br>
                <span class="dot" style="height: 30px; width: 30px; background-color: green; border-radius: 50%; display: inline-block;"></span>    ТСД <br>
                <span class="dot" style="height: 30px; width: 30px; background-color: green; border-radius: 50%; display: inline-block;"></span>    Биотерминал <br>
        </div>
    </div>
        
</div>

{% endblock %}
