{% extends 'store_pages.html' %}

{% block title %}
    Store Board {{store.host}}
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-6">
            {% if store.type == 'bo'%}
                <table class="table table-sm">
                    <caption>Доступность оборудования {{store.host}}</caption>
                    <thead class="thead-dark">
                        <tr>
                            <th>Имя</th>
                            <th>IP</th>
                            <th>Статус</th>
                            <th>Аптайм</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td colspan="4" align="center">Магазин</td></tr>
                            <tr> <td>{{store.store['bo']['name']}}</td><td>{{store.store['bo']['ip']}}</td><td {% if store.store['bo']['status'] == 'online' %} bgcolor= 'Green' {% else %} bgcolor='Red' {% endif %}>{{store.store['bo']['status']}}</td>
                                {% if store.store['bo']['status'] == 'online' %}
                                    <td>{{store.store['bo']['uptime']}}</td>
                                {% else %}
                                        <td> </td>
                                {% endif %}
                            </tr>
                        {% if store.store['poses']['name'] != [] %}
                            <tr> <td colspan="4" align="center">Кассы</td></tr>
                            {% for i in range(store.store['poses']['name'] | length) %}
                                <tr> <td>{{store.store['poses']['name'][i]}}</td><td>{{store.store['poses']['ip'][i]}}</td><td {% if store.store['poses']['status'][i] == 'online' %} bgcolor= 'Green' {% else %} bgcolor='Red' {% endif %}>{{store.store['poses']['status'][i]}}</td>
                                    {% if store.store['poses']['status'][i] == 'online' %}
                                        <td>{{store.store['poses']['uptime'][i]}}</td>
                                    {% else %}
                                        <td> </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        {% endif %}

                        {% if store.store['cash'] != [] %}
                            <tr> <td colspan="4" align="center">Cash - сервер</td></tr>
                                <tr> <td>{{store.store['cash']['name']}}</td><td>{{store.store['cash']['ip']}}</td><td {% if store.store['cash']['status'] == 'online' %} bgcolor= 'Green' {% else %} bgcolor='Red' {% endif %}>{{store.store['cash']['status']}}</td></tr>
                        {% endif %}

                        {% if store.store['tsd'] != [] %}
                            <tr> <td colspan="4" align="center">ТСД</td></tr>
                            {% for item in store.store['tsd'] %}
                                <tr> <td>{{item['name']}}</td><td>{{item['ip']}}</td><td {% if item['status'] == 'online' %} bgcolor= 'Green' {% else %} bgcolor='Red' {% endif %}>{{item['status']}}</td></tr>
                            {% endfor %}
                        {% endif %}

                        {% if store.store['bio'] != [] %}
                            <tr> <td colspan="4" align="center">Биометрический терминал</td></tr>
                                <tr> <td>{{store.store['bio']['name']}}</td><td>{{store.store['bio']['ip']}}</td><td {% if store.store['bio']['status'] == 'online' %} bgcolor= 'Green' {% else %} bgcolor='Red' {% endif %}>{{store.store['bio']['status']}}</td></tr>
                        {% endif %}
                    </tbody>
                </table>
                {% if store.store['problems'] != []  %}
                    <table class="table table-sm">
                        <caption>Проблемы {{store.host}}</caption>
                        <thead class="thead-dark">
                            <tr>
                              <th scope="col">Дата</th>
                              <th scope="col">Хост</th>
                              <th scope="col">Проблема</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in store.store['problems'] %}
                                <tr><td>{{i['date']}}</td><td>{{i['host']}}</td><td>{{i['name']}}</td></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            {% elif store.type == 'bf'%}
                <table class="table table-sm">
                    <caption>Доступность оборудования {{store.host}}</caption>
                    <thead class="thead-dark">
                        <tr>
                            <th>Имя</th>
                            <th>IP</th>
                            <th>Статус</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr> <td colspan="4" align="center">Серверы</td></tr>
                        {% for i in store.store['servers'] %}
                            <tr> <td>{{i['name']}}</td><td>{{i['ip']}}</td><td {% if i['status'] == 'online' %} bgcolor= 'Green' {% else %} bgcolor='Red' {% endif %}>{{i['status']}}</td></tr>
                        {% endfor %}
                        {% if store.store['apc'] != [] %}
                        <tr> <td colspan="4" align="center">Источник беcперебойного питания</td></tr>
                            <tr> <td>{{store.store['apc']['name']}}</td><td>{{store.store['apc']['ip']}}</td><td {% if store.store['apc']['status'] == 'online' %} bgcolor= 'Green' {% else %} bgcolor='Red' {% endif %}>{{store.store['apc']['status']}}</td></tr>
                        {% endif %}
                        <tr> <td colspan="4" align="center">Кассы</td></tr>
                        {% for i in store.store['poses'] %}
                            <tr> <td>{{i['name']}}</td><td>{{i['ip']}}</td><td {% if i['status'] == 'online' %} bgcolor= 'Green' {% else %} bgcolor='Red' {% endif %}>{{i['status']}}</td></tr>
                        {% endfor %}
                        {% if store.store['scales'] != [] %}
                            <tr> <td colspan="4" align="center">Весы</td></tr>
                            {% for i in store.store['scales'] %}
                                <tr> <td>{{i['name']}}</td><td>{{i['ip']}}</td><td {% if i['status'] == 'online' %} bgcolor= 'Green' {% else %} bgcolor='Red' {% endif %}>{{i['status']}}</td></tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
                {% if store.store['problems'] != []  %}
                    <table class="table table-sm">
                        <caption>Проблемы {{store.host}}</caption>
                        <thead class="thead-dark">
                            <tr>
                              <th scope="col">Дата</th>
                              <th scope="col">Проблема</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in store.store['problems'] %}
                                <tr><td>{{i['date']}}</td><td>{{i['name']}}</td></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            {% endif %}
        </div>
        <div class="col-6">
            {% if store.type == 'bo'%}
                <table class="table table-lg table-borderless">
                    <caption>Статистика работы {{store.host}}</caption>
                    <tbody>
                        {% for i in store.store['server_graphics'] %}
                            <tr>
                                <td><div class="chart-container" style="position: relative; height:25vh; width:auto">
                                    <canvas id="{{i['itemid']}}">
                                        <script>
                                            Chart.scaleService.updateScaleDefaults('linear', {
                                                ticks: {
                                                    min: 0,
                                                    max: 100
                                                }
                                            });
                                            new Chart(document.getElementById("{{i['itemid']}}"), {
                                                type: 'line',
                                                data: {
                                                    labels: [
                                                        {% for item in i['time'] %}
                                                            "{{item}}",
                                                        {% endfor %}
                                                    ],
                                                    datasets: [{
                                                        data: {{i['values']}},
                                                        label: "{{ store.store['bo']['name'] }}: {{i['name']}}",
                                                        borderColor: "#3e95cd",
                                                        fill: false,
                                                        radius: 1
                                                    }]
                                                },
                                                options: {
                                                    maintainAspectRatio: false,
                                                    title: {
                                                        display: false,
                                                        text: '{{i['name']}}'
                                                    }
                                                }
                                            });
                                        </script>
                                    </canvas>
                                </div></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
