{% extends 'base.html' %}

{% block title %}
    Store Board {{store.host}}
{% endblock %}
{% block scripts %}
    <script>
    $('.dropdown-menu a.dropdown-toggle').on('click', function(e) {
  if (!$(this).next().hasClass('show')) {
    $(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
  }
  var $subMenu = $(this).next(".dropdown-menu");
  $subMenu.toggleClass('show');


  $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function(e) {
    $('.dropdown-submenu .show').removeClass("show");
  });


  return false;
});
</script>
{% endblock %}
{% block nav_content %}
    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="dropdown3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Карусель</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown3">
                {% for i in store.g_hostgroups %}
                    <li class="dropdown-item dropdown">
                        <a class="dropdown-toggle" id="{{i['name']}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{i['name']}}</a>
                            <ul class="dropdown-menu" aria-labelledby="{{i['name']}}">
                                {% for j in i['hosts'] %}
                                <li class="dropdown-item"><a  href="{{(url_for('pages', page='dashboard', server=j['host']))}}">{{j['host']}}</a></li>
                                {% endfor %}
                            </ul>

                    </li>
                {% endfor %}
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="dropdown2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Перекресток</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown2">
                {% for i in store.s_hostgroups %}
                    <li class="dropdown-item dropdown">
                        <a class="dropdown-toggle" id="{{i['name']}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{i['name']}}</a>
                            <ul class="dropdown-menu" aria-labelledby="{{i['name']}}">
                                {% for j in i['hosts'] %}
                                <li class="dropdown-item"><a href="{{(url_for('pages', page='dashboard', server=j['host']))}}">{{j['host']}}</a></li>
                                {% endfor %}
                            </ul>

                    </li>
                {% endfor %}
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="dropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Пятерочка</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown1">
                {% for i in store.bo_hostgroups %}
                    <li class="dropdown-item dropdown">
                        <a class="dropdown-toggle" id="{{i['name']}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{i['name']}}</a>
                            <ul class="dropdown-menu" aria-labelledby="{{i['name']}}">
                                {% for j in i['hosts'] %}
                                <li class="dropdown-item" ><a href="{{(url_for('pages', page='dashboard', server=j['host']))}}">{{j['host']}}</a></li>
                                {% endfor %}
                            </ul>

                    </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
{% endblock %}
{% block main %}
    <div class="row">
        <div class="col-4">
            <h1 class="mt-4" align="center">Пятерочка</h1>
            <h5 class="mt-4" align="center">Тестирование</h5>
            <p class="lead" align="center"> Added stores: {{store.x5_stores | length }}</p>

        </div>
        <div class="col-4">
            <h1 class="mt-4" align="center">Перекресток</h1>
            <h5 class="mt-4" align="center">Процесс интеграции</h5>
        </div>
        <div class="col-4">
            <h1 class="mt-4" align="center">Карусель</h1>
            <h5 class="mt-4" align="center">Процесс интеграции</h5>
        </div>
    </div>
{% endblock %}

