{% extends 'store_pages.html' %}


{% block title %}
    Сеть {{store.host}}
{% endblock %}



{% block main %}
    <div class="row">
        <div class="col-6">
            {% if store.type == 'bo'%}
                <table class="table table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th colspan="2">Доступность роутера {{store.host}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td>{{store.store['bo']['network'][0]['name']}}</td>
                            {% if store.store['bo']['network'][0]['lastvalue'] == '1' %}
                                <td>OK</td>
                            {% else %}
                                <td>NOT OK</td>
                            {% endif %}
                            </tr>
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}