{% extends 'store_pages.html' %}

{% block title %}
    Кассы {{store.host}}
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-6">
            {% if store.type == 'bo'%}
                <table class="table table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th>Метрика</th>
                            {% for i in store.store['poses']['name'] %}
                            <th>{{i}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td colspan="{{store.store['poses']['name'] | length + 1}}" align="center"><b>Последний пробитый алкоголь на кассах</b></td></tr>
                        <tr>
                            <td><b>Дата и время</b></td>
                            {% for i in store.store['poses']['last_alk'] %}
                                <td>{{i['date']}}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td><b>Товар</b></td>
                            {% for i in store.store['poses']['last_alk'] %}
                                <td>{{i['item']}}</td>
                            {% endfor %}
                        </tr>

                        <tr><td colspan="{{store.store['poses']['name'] | length + 1}}" align="center"><b>Дата и время формирования z-отчета на кассах</b></td></tr>
                        <tr>
                            <td><b>Дата и время</b></td>
                            {% for i in store.store['poses']['z'] %}
                                <td>{{i['date']}}</td>
                            {% endfor %}
                        </tr>

                        <tr><td colspan="{{store.store['poses']['name'] | length + 1}}" align="center"><b>Дата и время последнего чека на кассах</b></td></tr>
                        <tr>
                            <td><b>Дата и время</b></td>
                            {% for i in store.store['poses']['last_check'] %}
                                <td>{{i['date']}}</td>
                            {% endfor %}
                        </tr>

                    {% for item in store.store['poses']['metrics'].keys() %}
                        <tr><td colspan="{{store.store['poses']['name'] | length + 1}}" align="center"><b>{{item}}</b></td></tr>
                            {% for i in store.store['poses']['metrics'][item].keys() %}
                                <tr>
                                    <td><b>{{i}}</b></td>
                                    {% for j in store.store['poses']['metrics'][item][i] %}
                                        <td>{{j}}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
        <div class="col-6">
            {% if store.type == 'bo'%}
                {% for pos in store.store['poses']['history'].keys() %}
                    <div class="chart-container" style="position: relative; height:40vh; width:auto">
                        <canvas id="{{pos}}">
                            <script>
                                Chart.scaleService.updateScaleDefaults('linear', {
                                    ticks: {
                                        min: 0
                                    }
                                });
                                new Chart(document.getElementById('{{pos}}'), {
                                    type: 'scatter',
                                    data: {
                                        datasets: [
                                            {% for i in range(store.store['poses']['history'][pos] | length) %}
                                                {
                                                    data:
                                                        [
                                                            {% for j in store.store['poses']['history'][pos][i] %}
                                                            {t: moment.unix({{j['x']}}), y: {{j['y']}} },
                                                            {% endfor %}
                                                        ],
                                                        label: "{{store.store['poses']['name'][i]}} {{pos}}",
                                                        fill: true,
                                                        showLine: true,
                                                        borderColor: '{{store.colors[i]}}',
                                                        borderWidth: 1,
                                                        radius: 1,
                                                        pointBackgroundColor: '{{store.colors[i]}}'

                                                },
                                            {% endfor %}
                                        ]
                                    },
                                    options: {
                                        maintainAspectRatio: false,
                                        title: {
                                            display: true,
                                            text: '{{pos}}'
                                        },
                                        scales: {
                                            xAxes: [{
                                                type: "time",
                                                time:{
                                                    unit: 'second',
                                                    displayFormats: {
                                                        second: 'MM-DD HH:mm:ss'
                                                    },
                                                    stepSize: 3600
                                                }
                                            }]
                                        }
                                    }
                                });
                            </script>
                        </canvas>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}