{% extends 'store_pages.html' %}


{% block title %}
    Цены и Промо {{store.host}}
{% endblock %}


{% block main %}
    {% if store.type == 'bo'%}
        <div class="row">
            <div class="col-6">
                <table class="table table-sm">
                    <caption>Товары с нулевой ценой в {{store.host}}</caption>
                    <thead class="thead-dark">
                        <tr>
                            <th>ID PRODUCT</th>
                            <th>NAME PRODUCT</th>
                        </tr>
                    <tbody>
                        {% for i in store.store['null_prices'] %}
                            <tr><td>{{i['ids']}}</td><td>{{i['item']}}</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-6">
                <table class="table table-sm">
                    <caption>Действующие акции PROMO в  {{store.host}}</caption>
                    <thead class="thead-dark">
                        <tr>
                            <th>PROMO</th>
                            <th>DESCRIPTION</th>
                        </tr>
                    <tbody>
                        {% for i in store.store['promo'] %}
                            <tr><td>{{i['name']}}</td><td>{{i['description']}}</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}

