{% extends 'store_pages.html' %}


{% block title %}
    Сервер {{store.host}}
{% endblock %}


{% block main %}
    {% if store.type == 'bo'%}
        <div class="row">
            <div class="col-6">
                <table class="table table-sm">
                    <tbody>
                        <tr><td colspan="2" align="center"><b>Дата и время закрытия кассового дня в магазине {{store.host}}</b></td></tr>
                        {% for i in store.store['bo']['close_day'] %}
                            <tr><td>Дата и время закрытия</td><td>{{i['date']}}</td></tr>
                        {% endfor %}
                        <tr><td colspan="2" align="center"><b>УТМ монитор {{store.host}}</b></td></tr>
                        {% for i in store.store['bo']['utm_monitor'] %}
                            <tr><td>{{i['name']}}</td><td>{{i['lastvalue']}}</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-6">
                <table class="table table-sm">
                    <tbody>
                        <tr><td colspan="2" align="center"><b>Бахус {{store.host}}</b></td></tr>
                        {% for i in store.store['bo']['bacchus'] %}
                            <tr><td>{{i['name']}}</td><td>{% if i['lastvalue'] == '0' %} нет данных {% else %} {{i['lastvalue']}}{% endif %}</td></tr>
                        {% endfor %}
                        <tr><td colspan="2" align="center"><b>Система {{store.host}}</b></td></tr>
                        {% for i in store.store['bo']['system'] %}
                            <tr><td>{{i['name']}}</td><td>{{i['lastvalue']}}</td></tr>
                        {% endfor %}
                        <tr><td colspan="2" align="center"><b>Процессор {{store.host}}</b></td></tr>
                        {% for i in store.store['bo']['processor'] %}
                            <tr><td>{{i['name']}}</td><td>{{i['lastvalue']}}</td></tr>
                        {% endfor %}
                        <tr><td colspan="2" align="center"><b>Оперативная память {{store.host}}</b></td></tr>
                        {% for i in store.store['bo']['ram'] %}
                            <tr><td>{{i['name']}}</td><td>{{i['lastvalue']}}</td></tr>
                        {% endfor %}
                        <tr><td colspan="2" align="center"><b>Память {{store.host}}</b></td></tr>
                        {% for i in store.store['bo']['memory'] %}
                            <tr><td>{{i['name']}}</td><td>{{i['lastvalue']}}</td></tr>
                        {% endfor %}
                        <tr><td colspan="2" align="center"><b>Операционная система {{store.host}}</b></td></tr>
                        {% for i in store.store['bo']['os'] %}
                            <tr><td>{{i['name']}}</td><td>{{i['lastvalue']}}</td></tr>
                        {% endfor %}
                        <tr><td colspan="2" align="center"><b>Устройство {{store.host}}</b></td></tr>
                        {% for i in store.store['bo']['product'] %}
                            <tr><td>{{i['name']}}</td><td>{{i['lastvalue']}}</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}

