{% extends 'base.html' %}
{% block title %}
{% endblock %}
{% block scripts %}
 <script>
        function get_action() {
            $.ajax({
                type: "POST",
                url: "/get_action",
                data : {
                                name : $('#ip').val(),
                                key : $('#key').val()
                        },
                type: 'POST',
                success: function(response) {
                    var json = jQuery.parseJSON(response)
                    $('#test').html(json.answer)
                    console.log(response);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }
    </script>
{% endblock %}
{% block nav_content %}
    <ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('pages', page='dashboard', server=store.host)}}">Карточка</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('pages', page='server', server=store.host)}}">Сервер</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('pages', page='poses', server=store.host)}}">Кассы</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('pages', page='network', server=store.host)}}">Сеть</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('pages', page='promo', server=store.host)}}">Цены и Промо</a>
    </li>
    {% if  store.type == 'bo' %}
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModal">Выполнить</a>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Select action</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="/get_action" method="post" name="form">
                                <div class="form-row">
                                    <div class="form-group col-5">
                                        <select id="ip" name="ip" class="form-control">
                                            <option selected>{{store.store['bo']['name'] + ':' + store.store['bo']['ip']}}</option>
                                            {% for i in range(store.store['poses']['name'] | length) %}
                                                <option>{{store.store['poses']['name'][i] + ':' + store.store['poses']['ip'][i]}}</option>
                                            {% endfor %}
                                            {% if store.store['cash'] | length != 0 %}
                                                <option>{{store.store['cash']['name'] + ':' + store.store['cash']['ip']}}</option>
                                            {% endif %}
                                             <!--{% for i in store.store['tsd'] %}-->
                                                <!--<option>{{i['name'] + ':' + i['ip']}}</option>-->
                                            <!--{% endfor %}-->
                                            <!--{% if store.store['bio'] | length != 0 %}-->
                                                <!--<option>{{store.store['bio']['name'] + ':' + store.store['bio']['ip']}}</option>-->
                                            <!--{% endif %}-->
                                        </select>
                                    </div>
                                    <div class="form-group col-5">
                                        <select id="key" name="key" class="form-control">
                                            {% for script in scripts %}
                                            <option>{{ script.key }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group col-2">
                                        <button  type="button" class="btn btn-dark" onclick="get_action();">RUN</button>
                                    </div>
                                </div>
                                <div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
                                <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>
                            </form>
                        </div>
                        <div class="modal-footer" style="height:70%;">
                            <div class="col-12">
                              <textarea class="form-control" style="height:100%;" id="test"  placeholder="Answer" readonly></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    {% endif %}
</ul>
{% endblock %}
{% block main %}
{% endblock %}