<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/style.css')}}">
        <link href="{{url_for('static', filename = 'css/bootstrap.css')}}" rel="stylesheet" />
        <link href="{{url_for('static', filename = 'css/sticky-footer.css')}}" rel="stylesheet" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.png') }}">
        <script src={{url_for('static', filename = 'js/Chart.js')}}></script>
        <script src="{{url_for('static', filename = 'js/jquery-3.3.1.js')}}"></script>
        <script src="{{url_for('static', filename = 'js/popper.js')}}"></script>
        <script src="{{url_for('static', filename = 'js/bootstrap.js')}}"></script>
        <script src="{{url_for('static', filename = 'js/preloader.js')}}"></script>
        <link href="{{url_for('static', filename = 'css/navbar.css')}}" rel="stylesheet" />
        <script src="{{url_for('static', filename = 'js/navbar.js')}}"></script>
        <title>
            X5 Retail Group
        </title>

    </head>
    <body>
        <!--<div class="preloader"></div>-->

<!--Navbar-->
<div class="navbar navbar-expand-lg navbar-light bg-white" role="navigation">
    <a class="navbar-brand" href="{{url_for('main')}}">
        <img src="/static/img/logo.png" width="33" height="33" class="d-inline-block align-top" alt="">
        Retail Group[Store DashBoard Test {{store.version}}]
    </a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Администрирование</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Добавить скрипт</a>
            </li>
        </ul>
        <div class="container mr-1 ml-5">
            <a class="btn btn-outline-success " href="{{url_for('user_page', username=current_user.username)}}" role="button">{{current_user.username}}</a>
            <a class="btn btn-outline-success ml-2" href="{{url_for('logout')}}" role="button">Выйти</a>
        </div>
    </div>
</div>
<h1>{{current_user.username}}</h1>
        <h3>{{current_user.email}}</h3>
        <h3>Уровень доступа {{current_user.level}}</h3>
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <span class="text-muted" >Все предложения по улучшению присылать на Andrey.Gavrilov@x5.ru</span>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
