{% extends 'user_base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block form %}
    <h1 align="center">Регистрация</h1>
    <div class="row justify-content-md-center">
        <div class="col-md-auto" align="center">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
{% endblock %}
