{% extends 'base.html' %}
    {% block main %}
            <div class="container-fluid" align="center">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-info" role="alert">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% block form %}{% endblock %}
            </div>
    {% endblock %}




