{% extends 'user_base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block form %}
   <h1 align="center">Вход</h1>
    <div class="row justify-content-md-center">
        <div class="col-md-auto" align="center">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <br>
    <p align="center"><a href="{{ url_for('auth.check') }}">Регистрация</a></p>
    <p><a href="#">Востановление пароля</a></p>
{% endblock %}

