<!DOCTYPE html>
<html lang="en">
<head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/style.css')}}">
        <link href="{{url_for('static', filename = 'css/bootstrap.css')}}" rel="stylesheet" />
        <link href="{{url_for('static', filename = 'css/sticky-footer.css')}}" rel="stylesheet" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.png') }}">
        <script src={{url_for('static', filename = 'js/Chart.js')}}></script>
        <script src="{{url_for('static', filename = 'js/jquery-3.3.1.js')}}"></script>
        <script src="{{url_for('static', filename = 'js/popper.js')}}"></script>
        <script src="{{url_for('static', filename = 'js/bootstrap.js')}}"></script>
        <script src="{{url_for('static', filename = 'js/preloader.js')}}"></script>
        <title>
            УТМ Статистика перезагрузок
        </title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-white">
                <a class="navbar-brand" href="{{url_for('main')}}">
                    <img src="/static/img/logo.png" width="33" height="33" class="d-inline-block align-top" alt="">
                    Retail Group[Store DashBoard Test]
                </a>
            </nav>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <table class="table table-sm">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Дата проверки</th>
                    <th scope="col">Хост</th>
                    <th scope="col">Кол-во перезагрузок с 1 дня месяца</th>
                    <th scope="col">Кол-во перезагрузок за предыдущий день</th>
                    <th scope="col">Кол-во перезагрузок подряд</th>
                </tr>
            <tbody>
                {% for i in stores %}
                <tr><td>{{i['date']}}</td><td>{{i['name']}}</td><td>{{i['month']}}</td><td>{{i['day']}}</td><td>{{i['row']}}</td></tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>